[Desktop Entry]
Type=Application
Name=CircuitSim
Comment=Interactive, real-time circuit simulator
Exec=circuitsim
Icon=io.github.BlazingHotCode.CircuitSim
Categories=Education;Science;
Terminal=false
StartupWMClass=circuitsim-CircuitSim
